# Core Computer Vision & Deep Learning
torch>=1.7.0
torchvision
ultralytics
opencv-python
deep_sort_realtime

# Data Processing & Math
numpy
pandas
tqdm
scipy

# Visualization
matplotlib
seaborn